Flask==3.0.3
Flask-Cors==4.0.0
gunicorn==21.2.0
fastapi
uvicorn
pydantic
cachetools
requests
python-multipart
requests
beautifulsoup4
apscheduler
supabase
python-multipart      # if you need file uploads later
